@tailwind base;
@tailwind components;
@tailwind utilities; 

* {
  font-family: "Duru sans",sans-serif;
}

.gradient {
  background: rgb(58,99,144);
  background: linear-gradient(
    90deg,
     rgba(58,99,144,1)8%,
      rgba(90,140,182,1)41%,
       rgba(27,55,125,1)88% );
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
