:root {
  --primary: #F2A007;
  --primary-light: #D6C9AE;
  --secondary: #151624;
  --accent-color: #ffcc00;
  --text-color: #000000;
}

@font-face {
  font-family: 'Righteous';
  src: url('./assets/fonts/Righteous/Righteous-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Titillium-Bold';
  src: url('./assets/fonts/Titillium/TitilliumWeb-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Titillium';
  src: url('./assets/fonts/Titillium/TitilliumWeb-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Titillium-Light';
  src: url('./assets/fonts/Titillium/TitilliumWeb-Light.ttf') format('opentype');
}

html, body {
  height: 100%;
}

/* background */
.main-content-container {
  position: relative;
  font-family: 'Titillium-Light';
  z-index: 0;
}

.main-content-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
  linear-gradient(217deg, rgba(242, 179, 7, 0.514), rgba(255,0,0,0) 55%),
  linear-gradient(127deg, rgba(166, 255, 0, 0.315), rgba(0,255,0,0) 55%),
  linear-gradient(177deg, rgba(252, 111, 56, 0.363), rgba(255,0,0,0) 55%),
  linear-gradient(336deg, rgba(0,0,255,.5), rgba(0,0,255,0) 55%),
  url('./assets/images/colors.png');
  background-repeat: repeat;
  filter: blur(1px);
  pointer-events: none;
  z-index: -1;
}

/* topbar */
.topbar {
  display: flex;
  background-color: var(--secondary);
  box-shadow: 0px .5vh 2vh var(--secondary);
  z-index: 1;
  transition: .5s ease;
}

.primary-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Righteous' !important;
}

.primary-header img {
  height: 12vh;
  width: auto;
  transition: .5s ease;
}

.primary-header h1 {
  color: #D6C9AE;
  font-size: 10vh;
  padding-left: 2%;
  transition: .5s ease;
}

/* sidebar */
.hamburger {
  margin-right: 5vw;
  transition: .5s ease;
}

.sidebar {
  font-family: 'Titillium-Light';
  background-color: var(--primary);
  box-shadow: 0 0 25px rgba(21,22,36,.55), 0 0 25px rgba(21,22,36,.55), 0 0 25px rgba(21,22,36,.55);
  z-index: 2;
}

.logout-button {
  width: 100%;
}

.sidebar-list a:hover,
.logout-button:hover {
  background: rgba(21,22,36,.65);
  color: var(--primary-light);
}

.logout-button:hover .sidebar-list-button {
  color: var(--primary-light);
}

#simple-search {
  background-color: var(--primary-light);
  outline: none !important;
  border: (22px, solid, #151624);
}

#simple-search:focus {
  outline: none !important;
  border: none !important;
}

#simple-search:focus-visible {
  outline: none !important;
  border: none !important;
}


/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Titillium-Light';
  background-color: var(--secondary);
  color: var(--primary-light);
  height: 10vh;
  font-size: 2vh;
}

/* slider */
.swiper-button-next,
.swiper-button-prev {
  color: var(--secondary) !important;
}

.swiper-slide {
  padding: 20px;
}

/* home games */
.game-card {
  position: relative;
  display: block;
  width: 90%; /* Adjust the width to make the images slightly smaller */
  max-width: 300px; /* Optional: Set a maximum width for the card */
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto; /* Center the card horizontally */
  box-shadow: 0 0 25px rgba(21,22,36,.25), 0 0 25px rgba(21,22,36,.25), 0 0 25px rgba(21,22,36,.25);
}

.game-card-content {
  position: relative;
}

.game-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.game-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(21,22,36, .8);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.game-card:hover .game-title,
.game-card:hover .game-price {
  opacity: 1;
}

.game-price {
  position: absolute;
  top: -1px;
  right: -1px;
  background: rgba(21,22,36, .8);
  color: white;
  opacity: 0;
  padding: 5px 10px;
  border-radius: 3px;
}

/* game page */
.gamepage-text-box {
  padding: 10px;
  background: rgba(21,22,36, .8);
  border-radius: 10px;
  color: var(--primary-light);
  border: 2px solid rgba(242, 179, 7);
  max-width: 500px;
}

.gamepage-name {
  font-family: 'Titillium-Bold';
}

.summary {
  text-align: justify;
}

.gamepage-image {
  max-width: 500px;
  min-width: 350px;
}

.gamepage-image img {
  box-shadow: 0 0 25px rgba(21,22,36,.25), 0 0 25px rgba(21,22,36,.25), 0 0 25px rgba(21,22,36,.25);
  border-radius: 10px;
  border: 2px solid rgba(242, 179, 7);
}

.gamepage-cart {
  background: var(--primary);
}

.gamepage-container {
  align-items: start;
}



/* library */
.library-game-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0);
  color: white;
  transition: opacity 0.3s ease;
}

/* cart / search list */
.list {
  padding: 12px;
}

.search-a {
  background: 
    linear-gradient(217deg, rgba(242, 179, 7, 0.514), rgba(255,0,0,0) 85%),
    linear-gradient(127deg, rgba(21, 22, 36, 0.315), rgba(0,255,0,0) 85%),
    linear-gradient(177deg, rgba(252, 111, 56, 0.363), rgba(255,0,0,0) 85%),
    linear-gradient(270deg, rgba(0,0,255,.5), rgba(0,0,255,0) 55%);
  justify-content: space-between;
}

.search-a:hover {
  background-color: rgba(21,22,36, .65);
}

.search-a:hover .search-title,
.search-a:hover .search-genres,
.search-a:hover .search-price {
  color: var(--primary-light);
}

.list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-img {
  max-width: 150px;
}

.search-text-container {
  width: 70% !important;
  padding-left: 10px;
}

.search-title {
  font-family: 'Titillium-Bold';
  font-size: 1.25rem;
  transition: .3s ease;
}

.search-genres {
  font-family: 'Titillium';
  font-size: 1rem;
}

.search-price {
  padding-bottom: 10px;
  font-family: 'Titillium';
  font-size: 1.25rem;
}

.search-genres,
.search-price,
.search-title {
  color: var(--primary-light);
  transition: .5s ease;
}

.search-cart-container {
  padding-right: 10px;
}

.search-cart-button {
  font-family: 'Titillium-Bold';
  background: var(--primary-light);
  color: var(--secondary);
  font-size: .8rem;
  padding: 8px;
}

.search-cart-button:hover {
  background: var(--primary);
}

/* line of uncertainty */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b2838;
}



@media screen and (max-width: 200px) {
  .search-title {
    display: none !important;
  }
  .search-cart-button {
    font-size: .25rem;
  }
  .search-price {
    display: none !important;
  }
}

@media screen and (max-width: 270px) {
  .search-genres {
    width: 140% !important;
  }
  .search-title {
    font-size: .5rem;
  }
}

@media screen and (max-width: 360px) {
  .primary-header h1 {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .gamepage-image {
    min-width: 100px;
  }
}

@media screen and (max-width: 550px) {
  .search-a {
    justify-content: space-around;
  }
  .search-title {
    display: none;
  }
  .search-genres {
    display: none !important;
  }
  .search-price {
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }
  .search-cart-button {
    font-size: 1rem;
    padding: .35rem;
    width: 120% !important;
  }
}

@media (max-width: 768px) {
  .primary-header h1 {
    display: none;
  }
  .topbar {
    justify-content: space-evenly
  }
}

@media (min-width: 1024px) {
  .gamepage-container {
    display: flex;
    justify-content: center;
  }
}

.active-sidebar{
  width: 85%;
}

.delay {
  width: 100%;
  transition-duration: .08s;
  transition-delay: .08s;
}

@tailwind base;
@tailwind components;
@tailwind utilities; 