@tailwind base;
@tailwind components;
@tailwind utilities; 

* {
  font-family: "Duru sans",sans-serif;
}

.gradient {
  background: rgb(58,99,144);
  background: linear-gradient(
    90deg,
     rgba(58,99,144,1)8%,
      rgba(90,140,182,1)41%,
       rgba(27,55,125,1)88% );
}

#slider {
  width: 400px;
  height:350px;
  padding: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  display:block;
  font-size: 25px;
  
 
}
.testing {
  display: flex;
  font-size: 18px;

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b2838;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game-card {
  position: relative;
  display: block;
  width: 90%; /* Adjust the width to make the images slightly smaller */
  max-width: 300px; /* Optional: Set a maximum width for the card */
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Center the card horizontally */
}

.game-card-content {
  position: relative;
}

.game-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.game-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.game-card:hover .game-title {
  opacity: 1;
}

.game-price {
  position: absolute;
  bottom: 5px;
  right: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.library-game-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0);
  color: white;
  transition: opacity 0.3s ease;
}

.search-text-container {
  width: 80% !important;
}

.search-title {
  font-size: .6rem;
  transition: .5s ease;
}

.search-genres {
  font-size: .4rem;
  transition: .5s ease;
}

.search-price {
  font-size: .6rem;
}

.search-cart-button {
  font-size: .4rem;
}


@media screen and (max-width: 200px) {
  .search-title {
    display: none !important;
  }
  .search-cart-button {
    font-size: .25rem;
  }
  .search-price {
    display: none !important;
  }
}

@media screen and (max-width: 270px) {
  .search-genres {
    display: none !important;
    width: 140% !important;
  }
  .search-title {
    font-size: .5rem;
  }
}

@media screen and (max-width: 360px) {
  .search-cart-button {
    font-size: .25rem;
    padding: .5rem;
    width: 120% !important;
  }
  .search-price {
    font-size: .5rem;
  }
}

.active-sidebar{
  width: 85%;
 
}
.delay {
  
  width: 100%;
  transition-duration: .08s;
  transition-delay: .08s;
}